*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>     NAV       <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
nav{
    width: 100%;
    height: 4rem;
    background-color: black !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.nav_L{
    width: 13rem;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #D90368;
    border-radius: 1rem;
    font-size: 1.5rem;
}
#nav_2{
    display: none;
}

.logo_AE{
    height: 4rem;
}
.logo_AE:hover{
    transform: translateY(0) scale(1.03);
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    header      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
header{
    width: 100%;
    height: 20vh;
    
}
.carru{
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: #efefef;
    justify-content: space-evenly;
    align-items: center;
}
.menu_H{
    COLOR: black; 
}


div>a{
    font-size: 2rem;
    text-decoration: none;
    color: #D90368;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> form_search <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.form_search{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(0deg, gray 0%, #efefef 100%);
}
.busca{
    width: 20rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Main <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.allcards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img_card{
    width: 100%;
    height: 15rem;
}
.card{
    width: 30rem;
    height: 40rem;
    background: linear-gradient(0deg, gray 0%, #efefef 40%);
}
.cartas{
    font-size: 3rem;
}
.allcards .card:hover{
    transform: translateY(-15px);
}
.boton{
    width: 3rem;
    display: flex;
    align-items: end;
    text-align: center;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Contac <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.barra{
    height: 3rem;
    background: linear-gradient(0deg, gray 0%, #efefef 100%);
}
main{
    min-height: 56rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
form{
    font-size: 3rem;
    margin: 3rem;
    width: 50rem;
    height: 40rem;
}
form>button{
    display: flex;
    font-size: 1.5rem;
}
.form-group{
    width: 100%;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Footer <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>< Details <<<<<<<<<<<<<<<<<<<<<<<< */
.deta_main{
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(45deg, #D90368 0%, black 95%);
}
.DetailCards{
    background-color: #E0D9E3;
    width: 95%;
    border-radius:50px;
}
.detailtext{
    display: flex;
    align-items: center;
}
.ext-muted{
    display: flex;
    align-items: end;
    text-align: end;
    justify-content: end;
}
.img-fluid{
    width: 100%;
    height: 100%;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Stats <<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.main_t{
    padding: 1rem;
}
table{
    border-collapse:separate;
    font-size: 1rem;
 }
 .t_title{
    background-color: #D90368;
    color: #efefef;
    text-align: left;
    font-weight:bold;
 }

 td, th {
    padding: 10px 15px;
 }
 tbody th{
    border-bottom: 1px solid #dddddd;
 }

 tbody tr:nth-of-type(even){
    background-color: #efefef;
 }

 .t_subtitle{
    background-color: #e4a1c0;
 }
.div_table{
    padding: 2rem 0;
}

 /* >>>>>>>>>>>>>>>>>>>>>>> 1605 resolucion <<<<<<<<<<<<<<< */
@media screen and (max-width:1600px){
    .card{
        width: 30rem;
        height: 40rem;
    }
    .cartas{
        font-size: 1rem;
    }
}
 /* >>>>>>>>>>>>>>>>>>>>>>> 1600 resolucion <<<<<<<<<<<<<<< */
 @media screen and (max-width:1600px){
    .card{
        width: 20rem;
        height: 30rem;
    }
 }

/* >>>>>>>>>>>>>>>>>>>>>>> 1306 resolucion <<<<<<<<<<<<<<< */
@media screen and (max-width:1306px){
    .nav_L{
        width: 10rem;
        font-size: 120%;
        text-align: center;
    }

}

/* >>>>>>>>>>>>>>>>>>>>>>> 1063 resolucion <<<<<<<<<<<<<<< */
@media screen and (max-width:1063px){
    .nav_L{
        width: 8rem;
        font-size: 102%;
        text-align: center;
    }
    .main_t{
        padding: 3rem 10px;
    }
    .allcards{
        padding: 3rem 3px !important;
    }
}

/* >>>>>>>>>>>>>>>>>>>>>>> 983 resolucion <<<<<<<<<<<<<<< */
@media screen and (max-width:983px) {
    .nav_L{
        width: 6rem;
        text-align: center;
    }

}

/* >>>>>>>>>>>>>>>>>>>>>>> 789 resolucion <<<<<<<<<<<<<<< */
@media screen and (max-width:789px) {
    .deta_main{
        margin-top: 3rem;
        padding: 50px;
        align-items: center;
        flex-wrap: wrap;
        background: linear-gradient(45deg, #D90368 0%, black 95%);
    }
    .detailtext{
        padding: 0 40px;
    }

    #nav_1{
        display: none;
    }
    .main_t{
        margin: 1rem 0;
    }
    #nav_2{
        display: block;
        height: 5rem;
    }
    header{
        margin-top: 5rem;
    }
    .navbar{
        background-color: black !important;
    }
    .nav_L_2{
        color: black;
        text-decoration-line: none;
        gap: 1.5rem;
        font-size: 1.5rem;
    }
    .offcanvas-header, .offcanvas-body{
        background-color: #efefef;
    }
}
/* >>>>>>>>>>>>>>>>>>>>>>> 735 resolucion <<<<<<<<<<<<<<< */
@media screen and (max-width:735px) {
    .logo_AE{
        width: 100%;
    }
    main{
        padding-top: 1rem;
    }

    .card{
        width: 30rem;
        height: 40rem;
    }
    .cartas{
        font-size: 2rem;
    }
    .allcards{
        gap: 1rem;
    }
}


/* >>>>>>>>>>>>>>>>>>>>>>> 538 resolucion <<<<<<<<<<<<<<< */
@media screen and (max-width:538px) {
    .form_search{
        font-size: 90%;
    }
    .foot{
        transform: scale(0.8);
        padding: 0;
    }
    .form-group{
        width: auto;
        margin: 40px 0;
    }

}
/* >>>>>>>>>>>>>>>>>>>>>>> 538 resolucion <<<<<<<<<<<<<<< */
@media screen and (max-width:538px){
    .card{
        width: 20rem;
        height: 30rem;
    }
    .cartas{
        font-size: 1.3rem;
    }
}
/* >>>>>>>>>>>>>>>>>>>>>>> 492 resolucion <<<<<<<<<<<<<<< */
@media screen and (max-width:492px) {
    .form_search{
        font-size: 80%;
    }
    table{
        transform: scale(0.8);
    }

    .main_t{
        margin: 0;
        padding: 0;
    }
}
/* >>>>>>>>>>>>>>>>>>>>>>> 446 resolucion <<<<<<<<<<<<<<< */
@media screen and (max-width:446px) {
    .form_search{
        font-size: 70%;
    }

    .card{
        margin: 10px 0;
    }
}

/* >>>>>>>>>>>>>>>>>>>>>>> 375 resolucion <<<<<<<<<<<<<<< */
@media screen and (max-width:375px){
    table{
        transform: scale(0.8);
    }

    .detailtext{
        padding: 0px 15px 20px;
        margin-bottom: 0;
    }
    .detailtext>div>p{
        margin-bottom: 0.2rem;
    }
}

/* >>>>>>>>>>>>>>>>>>>>>>> 360 resolucion <<<<<<<<<<<<<<< */
@media screen and (max-width:360px){
    .menu_H{
        font-size: 170%;
    }
    
    .card{
        width: 18rem;
        height: 30rem;
    }
    .main_t{
        margin: 0;
        padding: 0;
    }
    .logo_AE{
        height: 3.5rem;
    }
}